@{
    ViewBag.Title = "About";
}

<div id="aboutt" class="spacer">
    <h2 style="margin-top:30px; margin-left:20px; margin-bottom:30px;color: #666;font-family:'Lithos Pro'"><span class="glyphicon glyphicon-user"></span> About MusicCloud</h2>
    <div class="row">
        <div class="col-lg-4 col-sm-4  col-xs-12">
            <img style="margin-left:20px" src="~/Images/4.jpeg" class="img-responsive" alt="about" />
        </div>
        <div style="margin-left:10px" class="col-lg-5 col-sm-8  col-xs-12">
            <p>MusicCloud is the world’s leading social sound platform where anyone can listen sounds and share them everywhere.
               It takes just a click to share sounds to Twitter and Facebook.
               MusicCloud can be accessed anywhere using the official iPhone and Android apps, as well as hundreds of creation and sharing 
               apps built on the MusicCloud platform.</p>
            <blockquote> We serve our clients through a number of services, including Android and Iphone apps, top songs and sharing songs.</blockquote>
        </div>
        <div class="col-lg-3 visible-lg">
            <div class="fb-like-box" data-href="https://www.facebook.com/MIC.Lhr.Pk?fref=ts" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-width="255"></div>
        </div>
    </div>
</div>